<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MembershipServlet</servlet-name>
        <servlet-class>controller.MembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMembershipList</servlet-name>
        <servlet-class>controller.GetMembershipList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processPurchase</servlet-name>
        <servlet-class>controller.processPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductList</servlet-name>
        <servlet-class>controller.getProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MembershipServlet</servlet-name>
        <url-pattern>/MembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMembershipList</servlet-name>
        <url-pattern>/GetMembershipList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/MemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/SupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processPurchase</servlet-name>
        <url-pattern>/processPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductList</servlet-name>
        <url-pattern>/getProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/error/unautorizedErrorPage.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/unautorizedErrorPage.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/pageMissing.html</location>
    </error-page>
    <security-constraint>
        <display-name>AdminConstraints</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Page</web-resource-name>
            <description/>
            <url-pattern>/secureAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>UserConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>UserPage</web-resource-name>
            <description/>
            <url-pattern>/secureUser/purchase/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login/login.html</form-login-page>
            <form-error-page>/error/loginError.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>admin</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>user</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
